<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Place</th>
      <th>Category</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
      <th></th> <!-- Add a new column for edit button -->
    </tr>
  </thead>
  <tbody>
    {{#each collection.places}}
    <tr>
      <td>{{place}}</td>
      <td>{{category}}</td>
      <td>{{description}}</td>
      <td>{{lat}}</td>
      <td>{{long}}</td>
      <td>
        <a href="/collection/{{../collection._id}}/editplace/{{_id}}" class="button is-primary">
          <i class="fas fa-edit"></i>
        </a>
      </td>
      <td>
        <a href="/collection/{{../collection._id}}/deleteplace/{{_id}}" class="button is-danger">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>