<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Place</th>
      <th>Category</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.places}}
    <tr>
      <td>
        {{place}}
      </td>
      <td>
        {{category}}
      </td>
      <td>
        {{description}}
      </td>
       <td>
          <a href="/collection/{{../collection._id}}/deleteplace/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>